<div class="project-section">
  <div class="section-header">
    <h2>Projects</h2>
    <div class="project-header-underline"></div>
  </div>
  <ul class="project-grid">
    <li class="project-item top" style="background-color: red"><p class="centered">item 1</p></li>
    <li class="project-item top" style="background-color: blue"><p class="centered">item 2</p></li>
    <li class="project-item top" style="background-color: pink"><p class="centered">item 3</p></li>
    <li class="project-item bottom" style="background-color: purple"><p class="centered">item 4</p></li>
    <li class="project-item bottom" style="background-color: orange"><p class="centered">item 5</p></li>
    <li class="project-item bottom" style="background-color: green"><p class="centered">item 6</p></li>
  </ul>
</div>
