.centered
{
  position:   relative;
  left:       50%;
  top:        50%;
  transform:  translate(-50%, -50%);
}

.section-header
{
  padding-top: 2%;
}

.section-header h2
{
  font-size: 49px;
  color:     black;
  cursor:    default;
}

.project-section
{
  margin:             0 auto;
  text-align:         center;
  overflow:           hidden;
  background-color: 	#EBEBEB;
  padding-bottom:     8%;
}

.project-header-underline
{
  margin:           0 auto;
  height:           5px;
  width:            175px;
  background-color: black;
}

.project-grid
{
  list-style-type:  none;
  margin:           0 auto;
  margin-top:       5vh;
  overflow:         hidden;
  display:          flex;
  flex-wrap:        wrap;
  justify-content:  center;
  padding:          5px;
  max-width:        800px;
}

.project-item
{
  margin-top:         0.5%;
  transition:         all 1s 0s;
  opacity:            0.0;
  flex:               0 1 250px;
  margin:             5px;
  background-color:   #D2D2D2;
  background-size:    100% 100%;
  background-repeat:  no-repeat;
}

.project-item::before
{
  content:      '';
  float:        left;
  padding-top:  100%;
}

.project-item-preview
{
  position:         relative;
  width:            100%;
  height:           100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity:          0.0;
  transition:       all 0.4s ease;
  cursor:           pointer;
}

.project-item-preview p
{
  color:  white;
  cursor: pointer;
}

.top
{
  transform: translate(0%, -100%);
}

.bottom
{
  transform: translate(0%, 100%);
}

.left
{
  transform: translate(-100%, 0%);
}

.right
{
  transform: translate(1000%, 0%);
}

.project-item-visible
{
  transform:  translate(0%, 0%);
  opacity:    1.0;
}

.project-item:hover .project-item-preview
{
  opacity: 1.0;
}

@media screen
  and (max-device-width: 1440px)
{
  .section-header
  {
    padding-top:    8%;
    padding-bottom: 6%;

  }

  .section-header h2
  {
    font-size: 28px;
  }

  .project-header-underline
  {
    margin:           0 auto;
    height:           2px;
    width:            80px;
    background-color: black;
  }

  .project-section
  {
    padding-bottom: 0px;
  }

  .project-grid
  {
    list-style-type:  none;
    display:          flex;
    flex-direction:   column;
    width:            100%;
    padding:          0px;
    margin-top:       3vh;
    margin-bottom:    0px;
  }
  
  .project-item
  {
    transition:         all 1s 0s;
    opacity:            1.0;
    width:              100%;
    height:             45vh;
    background-color:   #D2D2D2;
    background-size:    100% 100%;
    background-repeat:  no-repeat;
    margin:             0px;
  }
  
  .project-item-preview
  {
    background-color: rgba(0, 0, 0, 0.15);
    opacity:          1.0;
    height:           45vh;
  }
  
  .project-item-preview p
  {
    color:      white;
    cursor:     pointer;
  }
  
  .top
  {
    transform: translate(0%, 0%);
  }
  
  .project-item-visible
  {
    transform:  translate(0%, 0%);
    opacity:    1.0;
  }
  
  .project-item:hover .project-item-preview
  {
    opacity: 1.0;
  }
}
