<div class="profile-section">
  <div class="section-header">
    <h2>Profile</h2>
    <div class="profile-header-underline"></div>
  </div>
  <div class="picture-percentage-section">
    <div class="profile-picture"></div>
    <ul class="proficiency-list">
      <li class="proficiency-bar">
        <div class="proficiency-title"><p class="centered">C++</p></div>
        <div class="proficiency-fill"></div>
        <div class="proficiency-percentage"><p class="centered">60%</p></div>
      </li>
      <li class="proficiency-bar">
        <div class="proficiency-title"><p class="centered">Python</p></div>
        <div class="proficiency-fill"></div>
        <div class="proficiency-percentage"><p class="centered">60%</p></div>
      </li>
      <li class="proficiency-bar">
        <div class="proficiency-title"><p class="centered">Java</p></div>
        <div class="proficiency-fill"></div>
        <div class="proficiency-percentage"><p class="centered">60%</p></div>
      </li>
      <li class="proficiency-bar">
        <div class="proficiency-title"><p class="centered">JavaScript</p></div>
        <div class="proficiency-fill"></div>
        <div class="proficiency-percentage"><p class="centered">60%</p></div>
      </li>
      <li class="proficiency-bar">
        <div class="proficiency-title"><p class="centered">Angular</p></div>
        <div class="proficiency-fill"></div>
        <div class="proficiency-percentage"><p class="centered">60%</p></div>
      </li>
      <li class="proficiency-bar">
        <div class="proficiency-title"><p class="centered">HTML</p></div>
        <div class="proficiency-fill"></div>
        <div class="proficiency-percentage"><p class="centered">60%</p></div>
      </li>
      <li class="proficiency-bar">
        <div class="proficiency-title"><p class="centered">CSS</p></div>
        <div class="proficiency-fill"></div>
        <div class="proficiency-percentage"><p class="centered">60%</p></div>
      </li>
    </ul>
  </div>
  <h2>Certifications</h2>
  <div class="certifications">
    <div class="certification">
      <div class="certification-top"></div>
      <div class="certification-middle"></div>
      <div class="certification-bottom"></div>
    </div>
    <div class="certification">
      <div class="certification-top"></div>
      <div class="certification-middle"></div>
      <div class="certification-bottom"></div>
    </div>
    <div class="certification">
      <div class="certification-top"></div>
      <div class="certification-middle"></div>
      <div class="certification-bottom"></div>
    </div>
    <div class="certification">
      <div class="certification-top"></div>
      <div class="certification-middle"></div>
      <div class="certification-bottom"></div>
    </div>
  </div>
</div>
