.profile-section
{
  padding:            0;
  margin:             0;
  text-align:         center;
  background-color: 	#EBEBEB;
  min-height:         100vh;
  overflow-y:         hidden;
}

.section-header
{
  padding-top: 3%;
}

.section-header h2
{
  font-size: 49px;
  color:     black;
  cursor:    default;
}

.profile-header-underline
{
  margin:           0 auto;
  height:           5px;
  width:            125px;
  background-color: black;
}

.picture-percentage-section
{
  display:          flex;
  margin:           80px auto;
  justify-content:  center;
  max-width:        1280px;
  max-height:       1000px;
  padding-bottom:   15vh;
}

.profile-picture
{
  margin:             5px;
  margin-right:       100px;
  border-radius:      50%;
  flex:               1 0 275px;
  background-color:   gray;
}

.profile-picture::before
{
  content:      '';
  float:        left;
  padding-top:  100%;
}

.headshot
{
  display:              inline-block;
  width:                100%;
  height:               100%;
  background-position:  50% 50%;
  background-size:      cover;
  border-radius:        50%;
}

.proficiency-list
{
  flex-grow:          2;
  list-style:         none;
  display:            flex;
  flex-direction:     column;
  margin:             5px;
  padding:            8px;
}

.proficiency-bar
{
  width:            99%;
  height:           auto;
  flex:             1 1 auto;
  background-color: #bfbfbf;
  margin:           8px;
}

@media screen
  and (max-device-width: 1440px)
{
  .picture-percentage-section
  {
    display:          flex;
    flex-direction:   column;
    margin:           80px auto;
    justify-content:  center;
    max-width:        900px;
    max-height:       1000px;
    padding-bottom:   5%;
  }
  
  .profile-picture
  {
    margin-right:       30%;
    margin-left:        30%;
    border-radius:      50%;
    flex-grow:          1;
    background-color:   gray;
  }
  
  .proficiency-list
  {
    flex-grow:          2;
    list-style:         none;
    display:            flex;
    flex-direction:     column;
    padding:            8px;
    margin-top:         5%;
    margin-left:        15%;
    margin-right:       15%;
  }
  
  .proficiency-bar
  {
    width:            99%;
    height:           30px;
    flex:             1 1 auto;
    background-color: #bfbfbf;
    margin:           8px;
  }
}

.proficiency-title
{
  float:            left;
  background-color: #6600ff;
  height:           100%;
  width:            30%;
  color:            white;
  text-align:       center;
  display:          inline-block;
}

.centered
{
  position:   relative;
  left:       50%;
  top:        50%;
  transform:  translate(-50%, -50%);
}

.proficiency-fill
{
  float:            left;
  background-color: #944dff;
  height:           100%;
  width:            0%;
  display:          inline-block;
  transition:       all 2s ease;
}

.proficiency-percentage
{
  float:  right;
  height: 100%;
  width:  20%;
}

.certifications
{
  display:          flex;
  flex-direction:   row;
  justify-content:  center;
  padding:          15px;
  padding-top:      70px;
  padding-bottom:   70px;
  height:           150px;
}

.certification-underline
{
  margin:           0 auto;
  height:           2px;
  width:            145px;
  background-color: black;
}

.certification
{
  margin: 15px;
}

.certification-top
{
  width:          0;
  border-bottom:  30px solid #6C6;
  border-left:    52px solid transparent;
  border-right:   52px solid transparent;

  transition: all 0.3s ease;
}

.certification-middle
{
  width:            104px;
  height:           60px;
  background-color: #6C6;

  transition: all 0.3s ease;
}

#artificial-intelligence
{
  content: url('./assets/artificial-intelligence.svg');
}

#machine-learning
{
  content: url('./assets/machine-learning.svg');
}

#cloud
{
  content: url('./assets/cloud.svg');
}

#greedy
{
  content: url('./assets/greedy.svg');
}

.certification-bottom
{
  width:        0;
  border-top:   30px solid #6C6;
  border-left:  52px solid transparent;
  border-right: 52px solid transparent;

  transition: all 0.3s ease;
}

.certification:hover .certification-top
{
  border-bottom:  40px solid #6C6;
  border-left:    62px solid transparent;
  border-right:   62px solid transparent;
}

.certification:hover .certification-middle
{
  width:            124px;
  height:           70px;
}

.certification:hover .certification-bottom
{
  border-top:   40px solid #6C6;
  border-left:  62px solid transparent;
  border-right: 62px solid transparent;
}
