<div class="profile-section">
  <div class="section-header">
    <h2>Profile</h2>
    <div class="profile-header-underline"></div>
  </div>
  <div class="picture-percentage-section">
    <div class="profile-picture">
      <img class="rounded-circle z-depth-2" src="https://i.imgur.com/OZnULou.jpg?1" height="500" width="500" />
    </div>
    <ul class="proficiency-list">
      <li class="proficiency-bar">
        <div class="proficiency-title"><p class="centered">C++</p></div>
        <div class="proficiency-fill"></div>
        <div class="proficiency-percentage"><p class="centered">90%</p></div>
      </li>
      <li class="proficiency-bar">
        <div class="proficiency-title"><p class="centered">Python</p></div>
        <div class="proficiency-fill"></div>
        <div class="proficiency-percentage"><p class="centered">80%</p></div>
      </li>
      <li class="proficiency-bar">
        <div class="proficiency-title"><p class="centered">Java</p></div>
        <div class="proficiency-fill"></div>
        <div class="proficiency-percentage"><p class="centered">70%</p></div>
      </li>
      <li class="proficiency-bar">
        <div class="proficiency-title"><p class="centered">JavaScript</p></div>
        <div class="proficiency-fill"></div>
        <div class="proficiency-percentage"><p class="centered">70%</p></div>
      </li>
      <li class="proficiency-bar">
        <div class="proficiency-title"><p class="centered">Angular</p></div>
        <div class="proficiency-fill"></div>
        <div class="proficiency-percentage"><p class="centered">60%</p></div>
      </li>
      <li class="proficiency-bar">
        <div class="proficiency-title"><p class="centered">HTML</p></div>
        <div class="proficiency-fill"></div>
        <div class="proficiency-percentage"><p class="centered">60%</p></div>
      </li>
      <li class="proficiency-bar">
        <div class="proficiency-title"><p class="centered">CSS</p></div>
        <div class="proficiency-fill"></div>
        <div class="proficiency-percentage"><p class="centered">60%</p></div>
      </li>
    </ul>
  </div>
  <h1 class="certification-header">Certifications</h1>
  <div class="certification-underline"></div>
  <div class="certifications">
    <a href="https://www.coursera.org/account/accomplishments/specialization/2R38UCXTAN5V" target="_blank">
      <div class="certification">
        <div class="certification-top"></div>
        <div class="certification-middle" id="artificial-intelligence">
        </div>
        <div class="certification-bottom"></div>
      </div>
    </a>
    <a href="https://www.coursera.org/account/accomplishments/specialization/84JF8ZMCRSSP" target="_blank">
      <div class="certification">
        <div class="certification-top"></div>
        <div class="certification-middle" id="machine-learning"></div>
        <div class="certification-bottom"></div>
      </div>
    </a>
    <a href="https://www.coursera.org/account/accomplishments/verify/BNT3WK79GKYR" target="_blank">
      <div class="certification">
        <div class="certification-top"></div>
        <div class="certification-middle" id="cloud"></div>
        <div class="certification-bottom"></div>
      </div>
    </a>
    <a href="https://www.coursera.org/account/accomplishments/verify/NVRXKW869HB2" target="_blank">
      <div class="certification">
        <div class="certification-top"></div>
        <div class="certification-middle" id="greedy"></div>
        <div class="certification-bottom"></div>
      </div>
    </a>
  </div>
</div>
