.top-contact-page-wrapper
{
  width:            100%;
  overflow-x:       hidden;
  background-color: #EBEBEB;
}

.top-contact-page
{
  position:       relative;
  width:          0;
  height:         0;
  border-bottom:  100px solid white;
}

.main-contact-page
{
  width:            100%;
  height:           250px;
  background-color: white;
  text-align:       center;
  color:            #ff3399;
}

.contact-container
{
  margin-top:       100px;
  margin-left:      20px;
  margin-right:     20px;
  height:           75px;
  width:            75px;
  display:          inline-block;
  color:            black;
  cursor:           pointer;
  transition:       all 0.4s ease;
}

.contact-container:hover
{
  color: #ff3399;
}

.footer
{
  width:            100%;
  height:           100px;
  background-color: #D2D2D2;
}

.author-info
{
  position:   relative;
  left:       50%;
  top:        50%;
  transform:  translate(-50%, -50%);
  text-align: center;
}

.name
{
  color:#ff3399;
}

@media screen and (max-device-width: 1440px) {

  .contact-header
  {
    padding-top: 15%;
  }

  .top-contact-page
  {
    border-bottom:  0px solid #EBEBEB;
  }

  .contact-container
  {
    margin-top:       50px;
  }
}
