<app-main-animation></app-main-animation>
<div class="navigation-wrapper">
  <div class="navigation">
    <ul class="navigation-bar">
      <li class="navigation-bar-content" (click)="scrollToTop()">
        <a>Home</a>
        <div class="navigation-underline navigation-underline-selected"></div>
      </li>
      <li class="navigation-bar-content" (click)="scrollToAbout()">
        <a>About</a>
        <div class="navigation-underline"></div>
      </li>
      <li class="navigation-bar-content" (click)="scrollToProfile()">
        <a>Profile</a>
        <div class="navigation-underline"></div>
      </li>
      <li class="navigation-bar-content" (click)="scrollToProjects()">
        <a>Projects</a>
        <div class="navigation-underline"></div>
      </li>
    </ul>
  </div>
</div>
<app-about-section #aboutSection></app-about-section>
<app-profile-section #profileSection></app-profile-section>
<app-project-section #projectSection></app-project-section>
<app-project-description #projectDescription></app-project-description>
<app-contact #contact></app-contact>
