<app-main-animation></app-main-animation>
<div class="navigation">
  <ul class="navigation-bar">
    <li class="navigation-bar-content">
      <a href="#home">Home</a>
      <div class="navigation-underline"></div>
    </li>
    <li class="navigation-bar-content">
      <a href="#about">About</a>
      <div class="navigation-underline"></div>
    </li>
    <li class="navigation-bar-content">
      <a href="#about">Profile</a>
      <div class="navigation-underline"></div>
    </li>
    <li class="navigation-bar-content">
      <a href="#about">Projects</a>
      <div class="navigation-underline"></div>
    </li>
    <li class="navigation-bar-content">
      <a href="#about">Contact</a>
      <div class="navigation-underline"></div>
    </li>
  </ul>
</div>
<app-about-section #aboutSection></app-about-section>
<app-profile-section #profileSection></app-profile-section>
<app-project-section #projectSection></app-project-section>
<app-project-description #projectDescription></app-project-description>
<app-contact #contact></app-contact>
