html, body
{
  height:       auto;
  overflow-x:   hidden;
  margin:       0;
  padding:      0;
  font-family:  "Arial Black", Gadget, sans-serif;
}

.animation-background
{
  background: linear-gradient( to left,  rgba(74,105,187,1), rgba(205,77,204,1));
  width:      100%;
  height:     100vh;
}

.header-content
{
  position:   absolute;
  top:        0;
  left:       0;
  width:      100%;
  height:     100%;
}

.header-content h2
{
  text-align:     center;
  font-size:      32px;
  padding-top:    15%;
  color:          white;
  padding-bottom: 30px;
  cursor:         default;
}

.name
{
  color: #ff3399;
}

.main-page-button
{
  height:           64px;
  width:            196px;
  margin:           0 auto;
  display:          flex;
  align-items:      center;
  justify-content:  center;
  border-style:     solid;
  border-width:     3px;
  border-color:     white;
  color:            white;
  transition:       all 0.5s ease;
}

.main-page-button p
{
  padding-top:    15px;
  padding-right:  10px;
  cursor:         default;
}

.main-page-button i
{
  transition:     all 0.5s ease;
  color:          white;
}

.main-page-button:hover
{
  background-color: #ff3399;
}

.main-page-button:hover i
{
  transform: rotateZ(90deg);
}

.box-area
{
  position: absolute;
  top:      0;
  left:     0;
  width:    100%;
  height:   100vh;
  overflow: hidden;
}

.box-area li
{
  position:   absolute;
  display:    block;
  list-style: none;
  width:      25px;
  height:     25px;
  background: rgba(255, 255, 255, 0.2);
  animation:  boxmover 20s linear infinite;
  bottom:     -150px;
}

.box-area li:nth-child(1)
{
  left:             86vw;
  width:            80px;
  height:           80px;
  animation-delay:  0s;
}

.box-area li:nth-child(2)
{
  left:               12vw;
  width:              30px;
  height:             30px;
  animation-delay:    1.5s;
  animation-duration: 10s;
}

.box-area li:nth-child(3)
{
  left:               70vw;
  width:              150px;
  height:             150px;
  animation-delay:    5.5s;
}

.box-area li:nth-child(4)
{
  left:               70vw;
  width:              100px;
  height:             100px;
  animation-delay:    0s;
  animation-duration: 15s;
}

.box-area li:nth-child(5)
{
  left:             40vw;
  width:            65px;
  height:           65px;
  animation-delay:  0s;
}

.box-area li:nth-child(6)
{
  left:             15vw;
  width:            110px;
  height:           110px;
  animation-delay:  3.5s;
}

@keyframes boxmover
{
  from
  {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  to
  {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}

@media screen and (max-device-width: 1440px)
{
  .main-page-button
  {
    height:           54px;
    width:            140px;
    margin:           0 auto;
    display:          flex;
    align-items:      center;
    justify-content:  center;
    border-style:     solid;
    border-width:     2px;
    border-color:     white;
    color:            white;
    transition:       all 0.5s ease;
  }

  .header-content h2
  {
    text-align:     center;
    font-size:      22px;
    padding-top:    30%;
    color:          white;
    padding-bottom: 30px;
    cursor:         default;
  }
}
