.screen-cover
{
  position:         fixed;
  top:              0;
  left:             0;
  width:            100%;
  height:           100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index:          1000;
  transform:        translate(100%, 0%)
}

.screen-cover-visible
{
  transform: translate(0%, 0%);
}

.screen-cover-invisible
{
  transform: translate(100%, 0%)
}

.project-description-section
{
  position:         relative;
  left:             50%;
  top:              50%;
  transform:        translate(-50%, -50%);
  display:          flex;
  justify-content:  center;
  align-items:      center;
  height:           770px;
  padding:          10px;
}

.project-section
{
  position:         relative;
  height:           670px;
  width:            560px;
  background-color: black;
  margin:           15px;
}

.project-image
{
  height:           60%;
  width:            100%;
  background-color: #D2D2D2;
}

.project-summary
{
  height:           40%;
  width:            100%;
  background-color: white;
}

.title
{
  margin-left: 20px;
  padding-top: 10px;
}

.title-underline
{
  height:             2px;
  width:              80%;
  background-color:   black;
  margin:             20px;
}

.prev-project
{
  width:  50px;
  height: 50px;
  margin: 10px;
  cursor: pointer;
  color:  white;
}

.next-project
{
  width:  50px;
  height: 50px;
  margin: 15px;
  cursor: pointer;
  color:  white;
}

.summary
{
  margin: 20px;
}

.close-button
{
  position: fixed;
  top:      54px;
  right:    20px;
  width:    50px;
  height:   50px;
  cursor:   pointer;
  color:    white;
}
