<div class="screen-cover">
  <div class="project-description-section">
    <div class="prev-project" (click)="selectPrevProject()"><i class="fas fa-chevron-left fa-4x" #prev></i></div>
    <div class="project-section">
      <div class="project-image"></div>
      <div class="project-summary">
        <h2 class="title"></h2>
        <div class="title-underline"></div>
        <div class="summary"></div>
      </div>
    </div>
    <div class="next-project" (click)="selectNextProject()"><i class="fas fa-chevron-right fa-4x" #next></i></div>
  </div>
  <div class="close-button" (click)="closeProjectDescription()"><i class="fas fa-times fa-4x" #close></i></div>
</div>
