  <div class="about-section">
    <div class="energetic-section">
        <div class="energetic-text-container">
          <div class="about-text">Leadership</div>
          <div class="about-summary">I strive for excellence both in myself and the team around me.<br/>Demonstrate leadership through the quality of my work and training others in my team.</div>
      </div>
    </div>
    <div class="experienced-section">
      <div class="experienced-text-container">
        <div class="about-text">Experience</div>
        <div class="about-summary">4+ years experience as a professional Software Engineer delivering<br/>end to end features and participating in the design and execution of complex architectures.</div>
      </div>
    </div>
    <div class="passionate-section">
      <div class="passionate-text-container">
        <div class="about-text">Passion</div>
        <div class="about-summary">Constantly pushing myself to learn the latest technologies in all fields<br/>of Computer Science. Passionate for the work I do now and the challenges that await.</div>
      </div>
    </div>
</div>
