  <div class="about-section">
    <div class="energetic-section">
        <div class="energetic-text-container">
          <div class="about-text">Energetic</div>
          <div class="about-summary">Filler.</div>
      </div>
    </div>
    <div class="section-divider" style="height:1px"></div>
    <div class="experienced-section">
      <div class="experienced-text-container">
        <div class="about-text">Experienced</div>
        <div class="about-summary">Filler.</div>
      </div>
    </div>
    <div class="section-divider"></div>
    <div class="passionate-section">
      <div class="passionate-text-container">
        <div class="about-text">Passionate</div>
        <div class="about-summary">Filler.</div>
      </div>
    </div>
</div>
