/* You can add global styles to this file, and also import other style files */
html, body
{
  height:     auto;
  overflow-x: hidden;
  min-width:  800px;
}



.centered
{
  position:   relative;
  left:       50%;
  top:        50%;
  transform:  translate(-50%, -50%);
}
